::v-deep {
    .vgt-wrap {
        input {
            height: 2.8rem;
        }
        input[type="checkbox"] {
            width: unset;
        }
        .multiselect__tags {
            border: none;
            height: 2.8rem;
        }
        .multiselect__placeholder {
            min-height: 28px;
            line-height: 28px;
            padding-top: 0;
        }
        .multiselect__input {
            line-height: 28px;
            min-height: 28px;
        }
        .multiselect__select {
            line-height: 9px;
        }
        .multiselect__single {
            line-height: 28px;
            min-height: 28px;
        }
        .table-selection-bar {
            background-color: $gray-mid;
            color: #fff;
        }
    }

    .bulk-update-input-row {
        display: flex;
        margin-left: 2rem;
        .input-wrapper {
            width: 14rem;
            margin-left: 1rem;
            height: 2.8rem;
            &.inline {
                display: flex;
                align-items: center;
                label {
                    color: #fff;
                }
                .outerLabel {
                    margin: 0 1rem 0 1rem;
                }
            }
        }
        button {
            margin-left: 2rem;
        }
    }
}
