.vgt-table {
    & th {
        padding: 0.6em 0.6em 0.6em 0.6em;
        // padding-right: 0.75em;
        vertical-align: middle;
        position: relative;
        &.sorting {
            cursor: pointer;
        }
        &.sorting:after {
            content: "";
            display: none;
            position: absolute;
            height: 0px;
            width: 0px;
            right: 6px;
            top: 50%;
            margin-top: -3px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid darken($light-grey, 15%);
        }
        &.sorting:hover:after {
            display: inline-block;
            border-bottom-color: lighten($link-color, 10%);
        }
    }
    & th.line-numbers,
    & th.vgt-checkbox-col {
        // padding: 0.75em 0.75em 0.75em 0.75em;
        color: $text-color;
        // border-right: 1px solid $border-color;
        word-wrap: break-word;
        width: 80px;
        text-align: center;
        // background: linear-gradient($thead-bg-color-1, $thead-bg-color-2);
        input[type="checkbox"] {
            width: 18px;
            height: 18px;
        }
    }
    & th.filter-th {
        padding: 0.75em 0.75em 0.75em 0.75em;
    }

    th.vgt-row-header {
        border-bottom: 2px solid $border-color;
        border-top: 2px solid $border-color;
        background-color: lighten($border-color, 10%);
    }

    thead th {
        color: $base-grey;
        // vertical-align: bottom;
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        padding-right: 0.75em;
        &.vgt-checkbox-col {
            vertical-align: middle;
        }
        &.sorting-asc,
        &.sorting-desc {
            color: darken($text-color, 15%);
            &:after {
                content: "";
                display: block;
            }
        }
        &.sorting-desc:after {
            border-top: 6px solid $link-color;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: none;
        }
    }
    tbody th {
        border-bottom: 1px solid $border-color;
    }
}
